@model MyWebApp.ViewModels.ProblemViewModel
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
<link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-tagsinput.js"></script>
<ul class="nav nav-tabs" style="margin-bottom: 15px;">
    <li class="active"><a href="#Main" data-toggle="tab">Requied info</a></li>
    <li class=""><a href="#media" data-toggle="tab">Photos&Videos</a></li>
    <li class=""><a href="#tags" data-toggle="tab">Tags</a></li>
    <li class=""><a href="#other" data-toggle="tab">Formulas&Plots</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="Main">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Answers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Answers, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Answers, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, 10, 10, new { data_provide = "markdown", id = "content", @style = "max-width:100%", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.SelectedCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedCategoryId, Model.Categories, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="media">
        <hr />
        <h1>Video</h1>
        <div> To insert video in your problem look <a href="/Problem/Tutorial">tutorial.</a></div>
        <hr />
        <h1>Images</h1>
        @Html.Partial("UploadImage")
    </div>

    <div class="tab-pane fade" id="tags">
        <hr />
        @*<input type="text" data-role="tagsinput" name="TagsString" />*@

                <div class="form-group">
                    @Html.LabelFor(model => model.TagsString, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.TagsString, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "form-control" }, { "type", "text" } })
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="other">
                <hr />
            </div>
        </div>
