<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Problembook</title>
    @Scripts.Render("~/bundles/modernizr")

    @if (Request.Cookies["theme"] == null || Request.Cookies["theme"].Value == "slate")
    {
        @Styles.Render("~/Content/slate")
    }
    else
    {
        @Styles.Render("~/Content/yeti")
    }


</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Problembook", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@Resources.Resource.Home, "Index", "Home")</li>
                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink(@Resources.Resource.Admin, "Index", "Admin")</li>
                    }
                    <li>@Html.ActionLink(@Resources.Resource.Users, "Index", "User")</li>
                    <li>@Html.ActionLink(@Resources.Resource.Problems, "Index", "Problem")</li>
                    <li>@Html.ActionLink(@Resources.Resource.Contact, "Contact", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">@Resources.Resource.Theme<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="theme-selector">
                            <li role="presentation">@Html.ActionLink("Slate", "SetTheme", "Home", new { theme = "slate" }, null)</li>
                            <li role="presentation">@Html.ActionLink("Yeti", "SetTheme", "Home", new { theme = "yeti" }, null)</li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">@Resources.Resource.Language<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="theme-selector">
                            <li role="presentation">@Html.ActionLink("Русский", "ChangeCulture", "Home", new { lang = "ru" }, null)</li>
                            <li role="presentation">@Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en" }, null)</li>
                        </ul>
                    </li>

                </ul>
               
                @using (Html.BeginForm("Search", "Search", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                {
                    <input type="text" class="form-control col-lg-8" maxlength="40" placeholder="Search" name="searchingString">
                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top: 50px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Anton Klimanski</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
