@model MyWebApp.ViewModels.HomepageViewModel
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/tagcanvas.js"></script>
<script type="text/javascript">
    window.onload = function () {
        try {
            TagCanvas.Start('myCanvas', 'tags', {
                textColour: '#ff00ff',
                outlineColour: '#0026ff',
                reverse: true,
                depth: 0.8,
                maxSpeed: 0.05,
                weight: true
            });
        } catch (e) {
            document.getElementById('myCanvasContainer').style.display = 'none';
        }
    };
</script>


<div class="row">
    <div class="col-md-8 jumbotron ">
        <h1>Problembook</h1>
        <p class="lead">@Resources.Resource.Welcome</p>
    </div>
    <div class="col-md-4 panel panel-primary">
        <div class="panel-heading">
            <h2>Tags</h2>
        </div>
        <div class="panel-body">
            <div id="myCanvasContainer">
                <canvas width="300" height="300" id="myCanvas">
                    <p>Anything in here will be replaced on browsers that support the canvas element</p>
                </canvas>
            </div>
            <div id="tags">

                @{
                    double size = 10;
                    int count = Model.Tags.Count();
                    double step = 40 / count;
                    foreach (var tag in Model.Tags)
                    {
                        //string link = "/Exercise/ShowExercisesWithTag?tag=" + tag.Text;
                        string style = String.Format("font-size: {0}pt", size);
                        size += step;

                        <a href="Tag/@tag.Name" style="@style">@tag.Name</a>
                    }

                }

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 panel panel-success">
        <div class="panel-heading">
            <h2>Most popular problems</h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                @foreach (var problem in Model.PopularProblems)
                {
                    @Html.Partial("_HomepageProblem", problem)
                }
            </table>
        </div>
    </div>
    <div class="col-md-4 panel panel-info">
        <div class="panel-heading">
            <h2>Most recent problems</h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                @foreach (var problem in Model.RecentProblems)
                {
                    @Html.Partial("_HomepageProblem", problem)
                }
            </table>
        </div>
    </div>
    <div class="col-md-4 panel panel-danger">
        <div class="panel-heading">
            <h2>Top-rated users</h2>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                @foreach (var user in Model.TopUsers)
                {
                    @Html.Partial("_HomepageUser", user)
                }
            </table>
        </div>
    </div>

</div>
